/* @font-face {
    font-family: smokeFont;
    src: url(HOLY_SMOKE.ttf);
} */


h1 {
    font-size: xx-large;
    color: black;
    font-weight: bolder;
    text-align: center;
    margin: 1rem;
    font-family: smokeFont;
}


h2 {
    color: black;
    text-align: center;
    margin: 1rem;
    font-family: smokeFont;
}

body {
    background-image: url("weed.jpg");
}


#generate {
   color: black;
}

li {
    color: white;
    font-weight: bolder;
}